@page "/shareFiles"

@inject IConfiguration _configuration;

@using FileHub.Frontend.Datahandling
@using FileHub.Service.Datahandling
@using FileHub.Frontend.Network
@using System.Net.WebSockets

<h3>Share Files</h3>
<b>Your share code: @_groupId</b>
<p>You can upload files with a size up to 500MB and share them with your friends</p>
<InputFile OnChange="@LoadFile" />

@if (_isLoading)
{
    <p>Loading files...</p>
}
else
{
    <br/><br/>

    @if (_loadedFile != null)
    {
        <b>@_loadedFile.Name</b>
        <p>
            Size (bytes): @_loadedFile.Size
            <br />
            Content type: @_loadedFile.ContentType
        </p>
    
        <button class="btn btn-primary" @onclick="UploadFiles">Start file upload</button>
        <br />
    }
}

<br/>
<b>@_message</b>
<br/>

@code {
    private readonly string _groupId;
    
    private bool _isLoading;
    private IBrowserFile? _loadedFile;
    private string _message = string.Empty;
    
    public ShareFiles()
    {
        int randomNumber = new Random().Next(10,99);
        _groupId = randomNumber + DateTime.Now.ToString("ssyyddmmhhMM"); 
    }
    
    private void LoadFile(InputFileChangeEventArgs e)
    {
        _isLoading = true;

        try
        {
            _loadedFile = e.File;
        }
        catch (Exception ex)
        {
        Console.WriteLine($"File: {e.File.Name} Error: {ex.Message}");
        }

        _isLoading = false;
    }

    private async Task UploadFiles()
    {
        bool success;
        WebsocketClient client;
        IBinaryDataHandler data = new BinaryDataHandler(_loadedFile);
        var baseUrl = _configuration.GetConnectionString("WsBaseUrl");
        _message = "Upload started. It may take a while. Please do not refresh the site.";
        
        do
        {
            client = new WebsocketClient(new ClientWebSocket());
            success = await client.Connect($"{baseUrl}/send/{_groupId}/{_loadedFile.Name}") && await client.SendAsync(data);
        } while (!success);

        client.Close();

        _message = "All files were uploaded successfully. You can upload another one.";
    }
}